*.egg-info
__pycache__
Session.vim
*.pth
/build
/dist
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/sunafxinet/log_archive
/sunafxinet/slurm-*.out
/sunafxinet/__pycache__
/sunafxinet/shell/*.sh
/sunafxinet/*.json
/sunafxinet/delta_mae_analysis
/processed
/sample
/tests
/trash
/misc
/mdx
.mypy_cache
